__pycache__

# Backup files
*~

# Data folders
*data

# Model files
*models
*tar

# Large raw files
attention_map_per_digit/
raw_attention_map/
chinese_results/
inference_vis/
results/

# Temporarily ignored files
inference_vis_bootstrap/
